@import "../../Utils/defaultsStyles.scss";
.modal_container {
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  .contract_container {
    border-radius: 20px;
    padding: 0px 20px;

    .formClass {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .createContractBtn {
        background: $primary_color;
        padding: 0px 20px;
        height: 45px;
        color: white;
        cursor: pointer;

        border-radius: 10px;

        width: fit-content;
        border: none;

        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 1px;

        &:hover {
          background-color: $primary_color_hover;
        }
      }
      .heading {
        font-family: "Montserrat", sans-serif;
      }
      .form_container {
        display: flex;
        gap: 30px;
        &:last-child {
          margin-left: 10px;
        }
        .MuiAlert-icon {
          color: white;
        }
        padding: 0px 20px;
        .left_side {
          font-family: "Montserrat", sans-serif;

          flex: 1;
          .label {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: rgb(186, 178, 178);
            margin: 8px 0px;
          }
          .selectInput {
            width: 100%;
            max-width: 350px;
            padding: 10px 15px;
            border-radius: 8px;
            background-color: $input_background_color;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            border: 1px rgb(200, 200, 200) solid;
            &:focus {
              outline: none;
            }
          }
          .textInput {
            max-width: 350px;
            min-width: 350px;
            width: 100%;
            border-radius: 8px;
            outline: none;
            padding: 10px 15px;
            background-color: $input_background_color;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            &:focus,
            &:hover {
              outline: none;
              border: 1px solid $input_border_color;
              box-shadow: none;
            }
          }

          .multiSelect {
            min-width: 350px;
            width: 100%;
            font-weight: 500;

            margin-bottom: 10px;

            max-width: 350px;
            .css-1s2u09g-control {
              border: 1px solid #dad9d8;
              background-color: $input_background_color;
              border-radius: 8px;
            }
            .css-1pahdxg-control {
              background-color: $input_background_color;
              outline: none;
              border: none;
              border-radius: 8px;

              border: 1px solid $input_border_color;
              &:focus,
              &:focus-within,
              &:hover {
                border: 1px solid $input_border_color;
                box-shadow: none;
              }
            }
            .css-2613qy-menu {
              font-family: "Montserrat", sans-serif !important;
            }
            #react-select-3-placeholder {
              font-family: "Montserrat", sans-serif !important;
            }
          }
          .contractPeriod {
            display: inline;
            margin-left: 10px;
            color: gray;
            font-size: small;
            font-weight: 600;
            margin-bottom: 5px;
            font-family: "Montserrat", sans-serif;
          }
          .datePicker {
            width: 100%;
            max-width: 350px;
            border-radius: 5px;
            &:hover {
              border: 1px solid rgb(226, 226, 226);
            }
            &::selection {
              border: none;
              outline: none;
            }
            height: 45px;
            padding: 0px 10px;
            background-color: $input_background_color;
            font-family: "Montserrat", sans-serif;
          }
          .textArea {
            width: 100%;
            height: 30px;
            border: 1px solid #d8d9da;
            border-radius: 8px;
            outline: none;
            padding: 5px 10px;
            background-color: #f6fafd;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            min-height: 40px;
            max-height: 115px;
            &:focus,
            &:hover {
              outline: none;
              border: 1px solid #d8d9da;
              box-shadow: none;
            }
          }
        }
        .right_side {
          flex: 1;

          .label {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: rgb(186, 178, 178);
            margin: 8px 0px;
          }
          .textInput {
            max-width: 350px;
            min-width: 350px;
            width: 100%;
            border-radius: 8px;
            outline: none;
            padding: 10px 15px;
            background-color: $input_background_color;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            border: 1px solid $input_border_color;
            &:focus,
            &:hover {
              outline: none;
              border: 1px solid $input_border_color;
              box-shadow: none;
            }
          }

          .selectInput {
            width: 100%;
            max-width: 350px;
            padding: 10px 15px;
            border-radius: 8px;
            background-color: $input_background_color;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            border: 1px $input_border_color solid;
            &:focus {
              outline: none;
            }
          }
          .textArea {
            width: 100%;
            max-width: 350px;
            max-height: 120px;
            min-height: 44px;
            height: 44px;
            background-color: $input_background_color;
            border-radius: 8px;
            outline: none;
            padding: 10px 15px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            border: 1px $input_border_color solid;
          }
        }
      }
    }
  }
}

.ant-modal-content {
  border-radius: 15px;
}
